header{
    background-color: white;
    padding: 0;
    border-bottom: 1px solid red;
}

a{
    color: #af1313;
}

a:hover{
    background-color:#e72929;
    color:white
}

.container{
    margin: o auto;
    display: flex;
    justify-content: space-between;
}

a.logo{
    font-family: bold;
    padding:lem
}

nav ul{
    list-style-type: none;
    margin: 0;
}

nav ul li a{
    padding :lem;
    display: inline-block;
}